/* ======== C S S ======== S T Y L I N G ====== */

/* ========== B A S I C =========== S T Y L I N G ========== */



/* ======  HEADER, hgroup, h1, h2, h3, h4, h5 ==== S T Y L I N G ===== */

header {
    text-align: center;
    font-size: 5em;
    font-family: "Amatic SC", "1942-report", sans-serif;
}
header h1 {
    padding: 5%;
    margin: 0 auto;
}
h1 {
    font-family: "amatic sc", sans-serif;
}
/* ======  D I V ==== S T Y L I N G ===== */
div#outer {
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 90%;
}
div#section1 {
    padding: 1% 1%;
    font-size: 2em;
}
div#bio {

}
div#recipes {

}
div#adventures {

}
div#contact{

}
/* ========== N A V =========== S T Y L I N G ========== */
.header-form {
    position: absolute;
    width: 100%;
    padding-bottom: 1%;

}
#navigation ul {
    margin: 0 auto;
    padding: 1% 0;
}
#main-nav {
    position: relative;
    text-align: center;
}
#main-nav li {
    display: inline;
    list-style-type: none;
    padding: 0 3%;
    margin: 0 auto;
}
#main-nav li a {
    font-family: "amatic sc", arial, verdana, sans-serif;
    font-size: 1.8em;
    letter-spacing: 2px;
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
}
#babyimage {
    padding-top: 3%;
}
/* ========== F O R M =========== S T Y L I N G ========== */
.footer-form{
}
input {
    height: 10%;
}
input {
}
/* ========== F O O T E R =========== S T Y L I N G ========== */
footer.footer {
    position: relative;

}
div#footer {
    position: absolute;
    width: 100%;
}
.foot #copy {
    text-align: center;
    padding: 10%;
}
div.header-form {
    text-align: right;

}
.header-form button {
    height: 3em;
    border-radius: 2px;
    width: 5%;
    border: none;
    color: #4d4d4d;
    background-color: #fff;

}
.header-form input {
    height: 3em;
    width: 30%;
    border-radius: 2px;
    border-color: #cccccc;
    padding-left: 1%;

}
input:focus {
    color: darkseagreen;
}


